/*--Projekt für Technische Informatik: Responsive Website--*/ 
/*--Autor: Kornelia Hilgers--------------------------------*/ 
/*--Studiengang: Technische Redaktion und Kommunikation----*/ 

    
body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa,
}

.wrapper{
display: flex;
text-decoration: none;
transition: all 0.3s;
}
/*--------------------------------------Sidebar---------------------------*/
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#Sidebar{
    
    min-width:250px;
    max-width: 250px;
    background:  #F2F2F2;
    color: black;
    transition: all 0.3s;
    height: 100%;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

#Sidebar ul.components{
   border-bottom: 1px solid #000000;     
}

#Sidebar ul p{
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    font-weight: 100;
    padding-top: 16px;
    text-align: center;
    border-top: 1px solid #000000;
    
}

#Sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    
    border-top: 1px solid #000000;
}

#Sidebar ul li a:hover{
    color: #7386D5;
    background: #fff;
}

#Sidebar ul li.active>a,
a[aria-expand="true"]{
    color:#fff;
    background: #0489B1;

}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;

}

/*--------------------------------------Navbar---------------------------*/

#content{
     width:100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#Navbar{
    background: #0489B1;
    height: 46px;
    width:100%;
}

/*--------------------------------------Schalter---------------------------*/
#Switch{
    display: none;
}

/*--------------------------------------Übergänge---------------------------*/

@media(max-width: 768px){
    #Sidebar{
        margin-left: -250px;
        height: 100%;
        
    }
    #Sidebar.active{
        margin-left:0;
        
    }
    #Switch span{
        display:none;
    }
    #Switch{
        display: block;
    }
}

/*--------------------------------------Überschriften---------------------------------------*/

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 100;
    padding-top: 16px;
    text-align: center; 
    text-decoration: underline;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 100;
    padding-top: 16px;
    text-decoration: underline;
     
}


h4{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding-top: 16px;
    color: cadetblue; 
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-top: 16px;
    
}

h10{
    font-size: 30px;
}

p100{
    font-size: 15px;
    color: darkgrey;
}

p1{
    font-size: 20px;
}

/*-----------------------------------------Bild auf der Titelseite---------------------------*/

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.image-container{
    max-height: 320px;
    max-width: 400px;
    position: relative;
    
}


.image-container img{
    height: 100%;
    width: 100%;
    
}

.transition-image{
    position: absolute;
    top: 0px;
    left:0px;
    opacity: 0;
}

.transition-image:hover{
    opacity: 1;
}




/*-----------------------------------------Tabellen---------------------------*/

#TabelleArtenVonApps, th, td, tr{
    border: 1px solid #000000;
}

#TabelleArtenVonApps {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: thin 0 0 thin;
    margin: 0 0 1em;
    table-layout: auto;
    max-width: 100%;
}

#TabelleArtenVonApps th{
    background: #2E9AFE;
}
















